<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Save-or-Shave</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>
  </head>
  <body>
    <div class="container">
