<div class="instructionsContainer">
    <div class="instructions"><p>Vote on <a href="https://ca.movember.com/donate/details?memberId=14089981">Movember.com</a> by making a donation and including either SAVE or SHAVE in the donation message.</p>
        <p>The monetary value of your donation will go towards either mowing or growing the 'stash earlier or later in the month!</p></div>
</div>