<%- include('header.ejs') %>
<div class="instructionsContainer">
    <div class="instructions">Vote on Movember.com by making a donation and including either SAVE or SHAVE in the donation message.<br><br>
        The monetary value of your donation will go towards either mowing or growing the 'stash earlier or later in the month!</div>
</div>
<%- include('footer.ejs') %>