<%- include('header.ejs') %>
<div class="instructionsContainer">
    
    <div class="instructions">Vote on Movember.com by making a donation and including either SAVE or SHAVE in the donation message.<br><br>
        The monetary value of your donation will go towards either mowing or growing the 'stash earlier or later in the month!</div>
    <br>
    <div class="introduction">Alright, here's the lowdown on how it works. I currently have a sweet 'stash I have been growing all November. Now you get to help decide
        what day I shave the 'stash. You can donate to the Movermber campain on Movember.com and vote by using a keyword in yuor donation message to either
        SAVE the 'stash and have me keep it longer or SHAVE the 'stash earlier.<br>Initially I will shave on the 8th of December, for every $5 of difference
        between shaving and saving I will shave or save one day earlier or later. The difference maxes out at December 1st or December 15th. I hope the
        donations will stay moderately balanced. If the current date is past the shave date by midnight I will shave and the campaign will end. That is all!<br><br>
        Please donate generously and enjoy!
    </div>
</div>
<%- include('footer.ejs') %>