<div id ="loadingContent" class="loadingContent">
    <div class="loadingText">Fetching Data from Movember.com</div>
    <!--<div id="cup" class="cup"></div>-->
    <image class="loadingStash" src="Movember Foundation_Iconic Mo_Black.png"></image>
</div>
