<div id="content">
    <!-- Data Thermometer goes here -->
    <div class="titleContainer">
        <image class="titleStash" src="Movember Foundation_Iconic Mo_Black.png"></image>
        <div class="title">Save or Shave</div>
        <div class="username"><%=username%></div>
        <div class="donationLink"><a href="https://movember.com/m/<%=username%>">Donate and vote here</a></div>
        
    </div>
    <div class="displayContainer">
        <div class="saveAmount amount"><h2>Save</h2><h2>$0</h2></div>
        <div class="thermoContainer">
            <div class="shaveDateContainer">
                <div id="shaveDate"><h2>Shave Date</h2><h2>Dec 1st</h2></div>
            </div>
            <div id="thermometer">
            </div>
            <div id="dates">
                <h2 class="insetDate">Dec 15th</h2>
                <h2>14th</h2>
                <h2>13th</h2>
                <h2>12th</h2>
                <h2>11th</h2>
                <h2>10th</h2>
                <h2>9th</h2>
                <h2 class="insetDate">Dec 8th</h2>
                <h2>7th</h2>
                <h2>6th</h2>
                <h2>5th</h2>
                <h2>4th</h2>
                <h2>3rd</h2>
                <h2>2nd</h2>
                <h2 class="insetDate">Dec 1th</h2>
            </div>
        </div>
        <div class="shaveAmount amount"><h2>Shave</h2><h2>$0</h2></div>
    </div>
    <div class="instructionsLink"><a href="instructions">Instructions</a></div>
    <script>
    /*
    <div class="displayContainer">
        <div class="endDateLabelContainer">
            <div id="endDateLabel">
                <h6>Shave Date:</h6>
                <h1>Nov 30th</h1>
            </div>
        </div>
        <div id="thermometer">
            <svg height="100" width="1000">
                <path id="thermoOutside" d="M0 0 h1000 v100 h-1000 z M500 5 h450 A45 45 0 0 1 950 95 h-900 A45 45 0 0 1 50 5 z" stroke="red" stroke-width="0" fill-rule="evenodd"/>
                <!--Thermometer Exterior-->
                <rect id="thermo" x="5" y="5" rx="50" ry="50" width="990" height="90" stroke="black" fill="none" stroke-width="6"/>
                
                <!--Center Line-->
                <line x1="500" y1="5" x2="500" y2="95" stroke="black" stroke-width="3"></line>
                <!--Quarter Lines-->
                <path d="M166.66 5 L166.66 95 M333.33 5 L333.33 95 M666.66 5 L666.66 95 M833.33 5 L833.33 95" stroke="black" stroke-width="2"/>
                <!--Day Lines-->
                <path d=" M33.33 10 L33.33 90 M66.66  5 L66.66  95 M100 5 L100 95 M133.33 5 L133.33 95 M166.66 5 L166.66 95 M200 5 L200 95 
                        M233.33 5 L233.33 95 M266.66 5 L266.66 95 M300 5 L300 95 M333.33 5 L333.33 95 M366.66 5 L366.66 95 M400 5 L400 95 
                        M433.33 5 L433.33 95 M466.66 5 L466.66 95 M500 5 L500 95 M533.33 5 L533.33 95 M566.66 5 L566.66 95 M600 5 L600 95 
                        M633.33 5 L633.33 95 M666.66 5 L666.66 95 M700 5 L700 95 M733.33 5 L733.33 95 M766.66 5 L766.66 95 M800 5 L800 95 
                        M833.33 5 L833.33 95 M866.66 5 L866.66 95 M900 5 L900 95 M933.33 5 L933.33 95 M966.66 10 L966.66 90" stroke="black" stroke-width="1"/>
            </svg>
            <div id="wave" z-index="1"></div>
            <div id="fill" z-index="1"></div>
        </div>
        <div id="dateLabels">
            <h2>Nov 15th</h2>
            <h4 style="left: 16.666%;">20th</h4>
            <h4 style="left: 33.333%;">25th</h4>
            <h3>Nov 30th</h3>
            <h4 style="left: 66.666%;">5th</h4>
            <h4 style="left: 83.333%">10th</h4>
            <h2>Dec 15th</h2>
        </div>
        <div id="shaveLabel" class="label">
            <h1>Shave</h1>
            <h1>$0</h1>
        </div>
        <div id="saveLabel" class="label">
            <h1>Save</h1>
            <h1>$0</h1>
        </div>   
    </div>
    */
    </script>
    <footer>
        <hr>
        <p>Save or Shave by Michael Marsland</p>
        <p>Alpha (November 2022)</p>
        <p><a href="mailto:mmarsland@mac.com">mmarsland@mac.com</a></p>
    </footer>
</div>