<%- include('header.ejs') %>
<div class="welcomePage">
    <div class="welcomeTitle">Welcome to Save or Shave</div>
    <p class="welcomeText">Enter a Movember.com Username<br>(eg. mmarsland)</p>
    <form class="welcomeForm" action="/" method="get">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" style="padding: 1px; text-align: center;"><br>

        <input type="submit" value="Submit">
      </form>
</div>

<script src="/js/script.js"></script>
<%- include('footer.ejs') %>