<%- include('header.ejs') %>
<div class="welcomePage">
    <div class="welcomeTitle">Welcome to Save or Shave</div>
    <p>Enter a Movember.com Username</p>
    <form action="/" method="get">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"><br><br>

        <input type="submit" value="Submit">
      </form>
</div>

<script src="/js/script.js"></script>
<%- include('footer.ejs') %>