:root {
  --background-color: #EDEDEE;
  --primary-blue: #7CA0B3;
 --text-main: #0C0C0C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  height: 100%;
  width: 100%
}

body {
  font-family: "Overpass", sans-serif;
  background: var(--background-color);
  color: var(--primary-blue);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
  color: var(--primary-blue)
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

button {
  color: #fff;
  background-color: #141313;
  width: 90%;
  padding: 10px;
  margin: 2%;
  font-size: 2.5vh;
  border-radius: 100vh;
}
button:hover {
  background-color: #333333;
}

.button-white {
  color: #000;
  background-color: #FFF;
  border: solid 1px #000;
  border-color: #000;
  width: 90%;
  padding: 10px;
  margin: 2%;
  font-size: 2.5vh;
  border-radius: 100vh;
}

.button-white:hover {
  background-color: #f3f3f3;
}

/* MEDIA FONT SIZES */

.container {
  min-height: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Welcome Page */
.welcomePage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 3vh;
}

.welcomeTitle {
  margin-top: 1em;
  text-align: center;
}

.welcomeText {
  margin: 1em;
  text-align: center;
}

.welcomeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Loading Page */
.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
  height: 100%;
  width: 100%;
}

.loadingText {
  width: fit-content;
  color: var(--text-main);
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4vh;
} 

.loadingStash {
  height: auto;
  width: 40%;
  margin-top: 5%;
  animation: spinning 3s linear infinite;
}

.errorStash {
  height: auto;
  width: 40%;
  margin-top: 5%;
  animation: errorSpinning 8s ease-in-out infinite;
}

@keyframes spinning {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(10deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}

@keyframes errorSpinning {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(1000deg);}
  75% {transform: rotate(-1000deg);}
  100% {transform: rotate(0deg);}
}

/* Main Content */
#content {
  width: 100%;
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#mainContent {
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10%;
}

.titleStashContainer {
  min-height: 44px;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleStash {
  height: auto;
  position: relative;
  width: 55%;
  margin-bottom: 1%;
  /*animation: pulsing 3s linear infinite;*/
}

@keyframes pulsing {
  0% {width: 45%;}
  25% {width: 50%;}
  75% {width: 40%;}
  100% {width: 45%;}
}



.title {
  position: relative;
  font-size: 4vh;
  color: var(--text-main);
}

.username {
  position: relative;
  font-size: 3vh;
  color: var(--text-main);
}

.donationLink {
  margin-top: 2%;
  font-size: 3vh;
}

.displayContainer {
  margin: 2% 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.thermoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 2% 0 2% 0;
}

#thermometer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex-basis: 30%;
  margin: 0px 4% 0px 4%;
}

#thermometer > .stackStashContainer:first-child {
  animation: spinning 3s linear infinite;
}

.stackStashContainer {
  border: 1px solid transparent;
  box-sizing: border-box;
  height: 6.667%;
  width: 100%;
  background-image: url("/images/Movember Foundation_Iconic Mo_Black.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.stackStash {
  width: 100%;
  box-sizing: border-box;
}

.shaveDateContainer {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
  margin-left: auto;
  height: 100%
}

#shaveDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  color: black;
  display: none;
}

#shaveDate > h2:first-child {
  font-size: 3vh;
}
#shaveDate > h2:last-child {
  font-size: 4vh;
}

#dates {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  white-space: nowrap;
  margin-right: auto;
  height: 100%;
  color: black;
}

#dates > h2 {
  height: 6.667%;
  font-size: calc(8px + 1vh);
  display: flex;
  align-items: center;
  margin-left: 10%;
}

#dates > h2.insetDate {
  margin-left:0;
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

.amount > h2:first-child {
  font-size: 4vh;
}
.amount > h2:last-child {
  font-size: 4vh;
  margin-left: 5px;
  font-family: "Anton", sans-serif
}

.instructionsLink {
  font-size: 3vh;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% 0 5% 0;
  text-align: center;
  color: black;
}

.instructions {
  font-size: 3vh;
}

.instructions > p:first-child {
  margin-bottom: 2%;
}

/* Info Page */
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10% 0 10% 0;
  text-align: center;
  color: black;
}

.infoContainer p {
  margin-bottom: 3%;
}

.infoMain {
  font-size: 2.2vh;
}

.infoPS {
  font-size: 2.2vh;
}


/*
footer {
  margin-top: 2%;
  text-align: center;
  width: 90%;
}

footer > hr {
  width: 100%;
}*/